---
layout: default
prism: true
data: diversityGroups
---

<div class="container max-w-4xl mt-6  px-6">
    <div class="pb-5 mb-5 border-b border-gray-100">
        <h1 class="font-bold text-5xl">{{title}}</h1>
        <p class="text-center text-base leading-6 font-medium text-gray-500">
            
        </p>

    </div>
    <article class="prose lg:prose-xl my-4 mx-auto">
        {{ content | safe }}</article>

    <article class="prose lg:prose-xl my-4 mx-auto">
        {% if diversityGroups.groups %}
        <h2>Community Groups</h2>
        <ul>
            {% for item in diversityGroups.groups | sort(attribute='name') %}
                {% if item.type == "all" and (item.status == "active" or item.status == "new") %}
                <li>
                    <a href="{{ item.url }}">{{ item.name }}</a> ({{ item.region }}) {% if item.status == "New" %} <span class="bg-yellow-200	text-sm">New</span>{% endif %} 
                </li>
                {% endif %}
            {% endfor %}
        </ul>

        <h2>Student Groups, Clubs & Socs</h2>
        <ul>
            {% for item in diversityGroups.groups | sort(attribute='name') %}
                {% if item.type == "student" and (item.status == "active" or item.status == "new") %}
                <li>
                    <a href="{{ item.url }}">{{ item.name }}</a> ({{ item.region }}) {% if item.status == "New" %} <span class="bg-yellow-200	text-sm">New</span>{% endif %} 
                </li>
                {% endif %}
            {% endfor %}
        </ul>

        
        <h3>🆙 Updates</h3>
        <div class="-mb-5">
        {% for date_added, groups in diversityGroups.groups | sort(reverse=true, attribute='date_added') | groupby("date_added") %}
            <div class="text-sm">
                <span class="font-bold">{{ date_added | truncate(15, true, "") }}:</span> {{ groups  | sort(attribute='name') | join(", ", "name") }}

            </div>
        {% endfor %}
        </div>

        <h3>🏙 Locations</h3>
        <div class="mb-3">
            This section groups the various user groups in the area they are based in as well as where they would host events (when in-person starts up again). 
        </div>
        <div class="text-sm mb-4">
            ℹ️ Number of groups in Ireland and Northern Ireland is {{ diversityGroups.groups.length }}
        </div>

        <div>
            {# This created a list of only active groups #}
            {% set up_groups = [] %}
            {% for group in diversityGroups.groups %}
                {% if group.status == "active" or group.status == "new" %}
                    {% set up_groups = (up_groups.push(group), up_groups) %}
                {% endif %}
            {% endfor %}

            {% for region, groups in up_groups | groupby("region") %}
                <dl>
                    <dt class="text-large font-semibold">{{ region }} (x{{groups.length }})</dt>
                    <dd class="text-base mb-2">{{ groups | sort(attribute='name') | join(" ✧ ", "name") }}</dd>
                </dl>
            {% endfor %}
        </div>
        {% endif %}

        <h2>Archives</h2>
        <h3>Organisations not around anymore</h3>
        <ul>
            {% for item in diversityGroups.groups | sort(attribute='name') %}
                {% if item.status == "retired" %}
                <li>
                    <a href="{{ item.url }}">{{ item.name }}</a> ({{ item.region }}) {% if item.status == "New" %} <span class="bg-yellow-200	text-sm">New</span>{% endif %} 
                </li>
                {% endif %}
            {% endfor %}
        </ul>

        <hr>

        The following is a separate groupings in yaml file. Early test, will be removed.

        {% if diversityGroups.studentgroups %}
            <h2>Student Groups, Clubs & Socs</h2>
            <ul>
                {% for item in diversityGroups.studentgroups | sort(attribute='name') %}
                <li>
                    <a href="{{ item.url }}">{{ item.name }}</a> ({{ item.region }}) {% if item.status == "New" %} <span class="bg-yellow-200 text-sm">New</span>{% endif %} {% if item.twitter %}| <a href="https://twitter.com/{{ item.twitter }}">Twitter</a>{% endif %} {% if item.facebook %}| <a href="{{ item.facebook }}">Facebook</a>{% endif %} {% if item.instagram %}| <a href="https://instagram.com/{{ item.instagram }}">Instagram</a>{% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endif %}

        
    </article>
</div>
