---
layout: default
prism: true
data: diversityGroups
---

<div class="container max-w-4xl mt-6  px-6">
    <div class="pb-5 mb-5 border-b border-gray-100">
        <h1 class="font-bold text-5xl">{{title}}</h1>
        <p class="text-center text-base leading-6 font-medium text-gray-500">
            
        </p>

    </div>
    <article class="prose lg:prose-xl my-4 mx-auto">
        {{ content | safe }}</article>

    <article class="prose lg:prose-xl my-4 mx-auto">
        <ul>
        {% if diversityGroups.groups %}

            {% for item in diversityGroups.groups | sort(attribute='name') %}
                <li>
                    <a href="{{ item.url }}">{{ item.name }}</a> - {{ item.region }} {% if item.status == "New" %} - New{% endif %} 
                </li>
            {% endfor %}
        {% endif %}
        </ul>

        {% if diversityGroups.groups %}
            <h3>Updates</h3>
            <div class="-mb-5">
            {% for date_added, groups in diversityGroups.groups | groupby("date_added") %}
                <div class="text-sm">
                    <span class="font-bold">{{ date_added | truncate(15, true, "") }}:</span> {{ groups | join(", ", "name") }}
                </div>
            {% endfor %}
            </div>

            <h3>Region</h3>
            <div class="mb-3">
            This section groups the various user groups in the area they are based in as well as where they would host events (when in-person starts up again).
            </div>
            <div>
            {% for region, groups in diversityGroups.groups | groupby("region") %}
                <dl>
                    <dt class="text-large font-semibold">{{ region }}</dt>
                    <dd class="text-base">{{ groups | join(", ", "name") }}</dd>
                </dl>
            {% endfor %}
            </div>
        {% endif %}
    </article>
</div>