---
layout: eventlisting
title: Jan 2021 Events
tags: ['event', '2021']
---
<section class="prose">
{% if events.year %}
if events.year: yes

    <p>page.fileSlug: {{ page.fileSlug }}</p>
    <p>page.filePathStem: {{page.filePathStem}}</p>
    {% set filepath = page.filePathStem %}
    {% set filePathStemList = page.filePathStem.split('/') %}
    <p>filePathStemList: {{ filePathStemList }}</p>
    <p>filePathStemList[3]: {{filePathStemList[3]}}</p>

    {% set searching = true %}
    {% set monthListings = null %}

    {% for key, val in events.year %}
        {% if searching %}
            <p>key: {{key}}</p>
            <p>val: {{val}}</p>
            {% set key_year = key %}
            {% set key_list = key_year.split('_') %}
            <p>key_list[0]: {{ key_list[0] }}</p>
            {#<p>{{val | dump}} </p>#}

            <p>
            {% if (key_list[0] == filePathStemList[3]) and (key_list[1] == filePathStemList[2]) %}
                Matches {{key_list[0] }} and {{key_list[1]}} 
                {% set monthListings = val %}
                <p>1 monthListings:  {{monthListings}}</p>
                {% set searching = false %}
            {% endif %}
            </p>
        {% endif %}
    {% endfor %}
    2 monthListings:  {{monthListings}}
    <p>{% if monthListings %}</p>
    <hr>
        <h2>{{key_list[0] | capitalize }}  {{key_list[1]}} Event Listings</h2>
            {% for event in monthListings.eventlistings %}
                <div>{{ event.start_datetime }} {{ event.name }}</div>
            {% endfor %}
        {% else %}
            NO EVENTS FOUND
        {% endif %}
{% else %}
no 
{% endif %}

</section>