---
layout: eventlisting
data:  events.other, events.recurring
---

<div class="container max-w-4xl mt-6  px-6">
    <div class="prose text-sm">
        <p>
            😰 For many years, I've been hand-curating events from meetup, eventbrite and other sources, like word of mouth from my various networks and social media. It's been quite time consuming (especially as a volunteer), as I before the Covid-19, I was curating for:- 

        <ul>
            <li>Coding Grace Monthly Newsletter (1st week of the month)</li>
            <li>Coding Grace blog update on monthly newsletter</li>
            <li>Posting the newsletter and additional events to my DEV account</li>
        </ul>  

        Since the pandemic restrictions, I've additionally curated:-
        <ul>
            <li>Daily updates of virtual events around Ireland and Northern Ireland</li>
            <li>Tools used by events in the 1st few months of the pandemic (2020) - I stopped this once I noted that most people settled on Zoom, Teams, Meet for events, and tech organisers stopped runnning around like headless chickens. 😆</li>
        </ul>  
        </p>
        <p>
            🙌 So building this site of listings of events, and separately listing diversity in tech events will save me a lot of time, plus I hope folks in general will find it useful
        </p>
        <p>
            🌈 You can contribute by PR to event lists, I've a <a href="https://github.com/whykay/diversity-in-tech-ireland/blob/master/CONTRIBUTING.md">CONTRIBUTING doc on github</a> that you can have a read through on how you can share info about events, conferences and even opportunities. 
        </p>
        <p>
            🤔 Any questions, email me at <span class="bg-yellow-200 font-bold">vicky[at]eventgeek[dot]ie</span>
        </p>
    </div>

    <div class="prose lg:prose-xl mt-6">
    {% if events.year %}
        {# Let's get the current year and month, e.g. 2021 Jan #}
        {% set thisMonthListings = null %}
        {% set thisYearsConfListings = null %}

        {% for key, val in events.year %}
            {# mmm_yyyy.yaml in _data, splitting it with '_' #}
            {% set key_list = key.split('_') %}

            {% if (key_list[0] == helpers.currentMonth()) and (key_list[1] == helpers.currentYear())%}
                {% set thisMonthListings = val   %}
            {% elif (key_list[0] == "conferences") and (key_list[1] == helpers.currentYear()) %}     
                {% set thisYearsConfListings = val %}   
            {% endif %}
        {% endfor %}

        {#
        {% set newList = [] %}
        {% for event in  thisMonthListings.eventlistings | newItemList('diversity') | sort(attribute='start_datetime') %}
            <p>{{event.name}} --- {{event.type}}</p>
        {% endfor %}
        #}

        {% if thisMonthListings %}
            
            {% set listings = thisMonthListings.eventlistings | newItemList('diversity') | laterItemList | sort(attribute='start_datetime') %}
            {% set diversityListings = thisMonthListings.eventlistings | inclItemTypeList("diversity") | laterItemList | sort(attribute='start_datetime') %}


            <!-- GENERAL TECH EVENTS -->
            <h2 id="events">Upcoming General Tech Events in {{ helpers.currentMonth() }}</h2>
            {% if listings | length != 0 %}

                
                {% for event in listings.slice(0,5)  %}
                    <div class="border-solid border-1 bg-purple-50 rounded-lg p-5 mt-2">
                        <div>
                            <a href="{{ event.url }}">{{ event.name }}</a> {% if event.region %}{{ event.region }}{% endif %} <span class="text-xs bg-green-200 pr-2 pl-2">{{ event.type }}</span> {% if event.new %}<span class="bg-yellow-200 text-xs pl-2 pr-2">New</span>{% endif %}
                        </div>
                        <div>
                            When: {{ event.start_datetime | readableDateTime() }}
                        </div>
                    </div>
                {% endfor %}

                <div class="mt-3 text-2xl font-bold">
                    👉 <a href="/events/{{ helpers.currentYear() }}/{{ helpers.currentMonth() }}/">Check out all General Tech Events in {{ helpers.currentMonth() }}</a>
                </div>
             
            {% else %}

                <div class="text-2xl">👉 No more techie events for this month, check <span class="bg-yellow-200 bg-opacity-50"><a href="#event_archives">Archives</a></span> for more upcoming events</div>
            {% endif %}

            <!-- DIVERSITY IN TECH EVENTS -->
            <h2 id="diversity" class="text-center">Latest Upcoming Diversity in Tech Events this month</h2>
            {% if diversityListings | length != 0 %}
                {% for event in diversityListings %}
                    <div class="border-solid border-1 bg-purple-200 rounded-lg p-5 mt-2">
                        <div>
                            <a href="{{ event.url }}">{{ event.name }}</a> {% if event.region %}{{ event.region }}{% endif %} {% if event.new %}<span class="bg-yellow-200 text-xs pl-2 pr-2">New</span>{% endif %}
                        </div>
                        <div class="text-base">
                            When: {{ event.start_datetime | readableDateTime() }} - {{ event.end_datetime | readableDateTime() }}
                        </div>
                        {% if event.desc %}
                        <div class="text-xs">
                            {{ event.desc | safe }}
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}

                <div class=" text-2xl">👉 No more diversity events for this month, check <span class="bg-yellow-200 bg-opacity-50"><a href="#event_archives">Archives</a></span> for more upcoming events</div>
            {% endif %}
            
            <h3 class="text-center">🔁 Recurring Virtual Events</h3>
            {% for event in events.recurring.events %}
                {% if event.recurring %}
                <div class="border-solid border-1 bg-indigo-100 rounded-lg p-5 mt-2">
                    <div>
                        <a href="{{ event.url }}">{{ event.name }}</a> {% if event.region %}{{ event.region }}{% endif %} {% if event.new %}<span class="bg-yellow-200 text-xs pl-2 pr-2">new</span>{% endif %}
                    </div>
                    {% if event.desc %}
                    <div class="text-sm">{{ event.desc | safe }}</div>
                    {% endif %}
                    <div class="font-semibold text-base">When: {{ event.start_datetime }}</div>
                </div>
                {% endif %}
            {% endfor %}

            <h2 id="conferences">🎫 Conferences</h2>
            {% for conf in thisYearsConfListings.conferences | laterItemListConf | sort(attribute='start_datetime') %}
                <div class="border-solid border-1 bg-green-200 rounded-lg p-5 mt-2">
                    <div>
                        <a href="{{ conf.url }}">{{ conf.name }}</a> {% if conf.region %}{{ conf.region }}{% endif %} {% if conf.new %}<span class="bg-yellow-200 text-xs pl-2 pr-2">New</span>{% endif %}
                    </div>
                    <div class="text-base">
                        {{ conf.desc | safe }}
                    </div>
                    <div>
                        When: {{ conf.start_datetime | readableDate() }} {% if conf.end_datetime %} - {{ conf.end_datetime | readableDate() }}{% endif %}
                    </div>
                </div>
            {% endfor %}
            
            <h3 id="cancelled-conferences">🛑 Cancelled/Postponed Conferences</h3>
            {% for conf in thisYearsConfListings.conferences | sort(attribute="name") %}
                {% if (conf.status == "cancelled") or (conf.status == "postponed") %}
                <div class="border-solid border-1 bg-red-200 rounded-lg p-5 mt-2">
                    <div>
                        <a href="{{ conf.url }}">{{conf.name}}</a>
                        {% if conf.status == "cancelled" %}<span class="text-xs bg-black text-white pl-1 pr-1">cancelled</span>
                        {% elif conf.status == "postponed" %}<span class="text-xs bg-black text-white pl-1 pr-1">postponed</span>{% endif %}
                        
                    </div>
                    {% if conf.desc %}<div>{{ conf.desc }}</div>{% endif %}
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            Listings not found
        {% endif %}
    {% endif %}
    </div>

    <div class="prose lg:prose-xl mt-6">
       
    </div>
    <div class="prose lg:prose-xl mt-6 bg-gray-50 p-5">
        <h2 id="event_archives" class="text-center">🗄 ARCHIVES</h2>
        <div class="flex flex-row flex-wrap">
            {% for post in collections.event | sort(attribute='date') %}
            <div class="border-solid border-1 bg-yellow-200 rounded-lg p-2 mr-4 mt-3 ring-4 ring-yellow-100">
                <a href="{{post.url}}">{{ post.data.title }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="prose lg:prose-xl mt-6">
        <h2 id="call-to-action">💪 Events/Orgs that need your help:</h2>
        {% for info in events.other.information %}
        <div class="border-solid border-1 bg-yellow-100 rounded-lg p-5 text-base mb-2">
            <div>
                <a href="{{ info.url }}">{{ info.name }}</a> {% if info.status == "new" %}<span class="bg-white text-xs pl-2 pr-2">New</span>{% endif %}
            </div>
            <div class="text-sm">
                {{ info.desc | safe }}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="prose lg:prose-xl mt-6">
        <h2 id="opportunities">🆒 Opportunities</h2>
        
        {% for opportunity in events.other.opportunities | sort(attribute='name') %}
            {% if opportunity.status != "archive" %}
                <div class="border-solid border-1 bg-green-100 rounded-lg p-5 text-base mb-2">
                    <div>
                        <a href="{{ opportunity.url }}">{{ opportunity.name }}</a> {% if opportunity.region %}{{ opportunity.region }}{% endif %} {% if opportunity.status == "new" %}<span class="bg-yellow-200 text-xs pl-2 pr-2">New</span>{% endif %}
                    </div>
                    <div class="text-sm">
                        {{ opportunity.desc | safe }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="prose lg:prose-xl mt-6">
        <h2 id="aob">🤖 AOB Events-related</h2>
        
        {% for info in events.other.aob | sort(attribute='name') %}
        <div class="border-solid border-1 bg-blue-50 rounded-lg p-5 text-base mb-2">
            <div>
                <a href="{{ info.url }}">{{ info.name }}</a> {% if info.status == "new" %}<span class="bg-yellow-200 text-xs pl-2 pr-2">New</span>{% endif %}
            </div>
            <div class="text-sm">
                {{ info.desc | safe }}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="prose lg:prose-xl mt-6">
        <h2 id="org-resources">🤓 Resources for Organisers on organising virtual events</h2>
        
        {% for resource in events.other.resources | sort(attribute='name') %}
        <div class="border-solid border-1 bg-blue-50 rounded-lg p-5 text-base mb-2">
            <div>
                <a href="{{ resource.url }}">{{ resource.name }}</a> {% if resource.status == "new" %}<span class="bg-yellow-200 text-xs pl-2 pr-2">New</span>{% endif %}
            </div>
            <div class="text-sm">
                {{ resource.desc | safe }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>