---
layout: eventlisting
---

<div class="prose">
    <h1 class="bg-pink-200">TESTING PAGE ONLY</h1>
    {% if events.year %}
        {# Let's get the current year and month, e.g. 2021 Jan #}
        {% set thisMonthListings = null %}
        {% set thisYearsConfListings = null %}

        {% for key, val in events.year %}
            {# mmm_yyyy.yaml in _data, splitting it with '_' #}
            {% set key_list = key.split('_') %}

            {# Get the monthly and conf listings #}
            {% if (key_list[0] == helpers.currentMonth()) and (key_list[1] == helpers.currentYear())%}
                {% set thisMonthListings = val   %}
            {% elif (key_list[0] == "conferences") and (key_list[1] == helpers.currentYear()) %}     
                {% set thisYearsConfListings = val %}   
                thisYearsConfListings: {{thisYearsConfListings}}      
            {% endif %}
        {% endfor %}

        {#
        {% set newList = [] %}
        {% for event in  thisMonthListings.eventlistings | newItemList('diversity') | sort(attribute='start_datetime') %}
            <p>{{event.name}} --- {{event.type}}</p>
        {% endfor %}
        #}

        {% if thisMonthListings %}
            {% set listings = thisMonthListings.eventlistings | newItemList('diversity') | laterItemList | sort(attribute='start_datetime') %}

            <h2>Upcoming General Tech Events in {{ helpers.currentMonth() }}</h2>

            {% for event in listings.slice(0,5)  %}
                <div class="border-solid border-1 bg-purple-50 rounded-lg p-5 mt-2">
                    <div>
                        <a href="{{ event.url }}">{{ event.name }}</a> {% if event.region %}{{ event.region }}{% endif %} <span class="text-xs bg-green-200 pr-2 pl-2">{{ event.type }}</span> {% if event.new %}<span class="bg-yellow-200 text-xs pl-2 pr-2">New</span>{% endif %}
                    </div>
                    <div>
                        When: {{ event.start_datetime | readableDateTime() }}
                    </div>
                </div>
            {% endfor %}
            <div class="mt-3 text-2xl font-bold">
                👉 <a href="/events/{{ helpers.currentYear() }}/{{ helpers.currentMonth() }}/">Check out all {{ listings | length }} Feb Events</a>
            </div>

            <h2>Diversity in Tech Events</h2>
            {% for event in thisMonthListings.eventlistings | inclItemTypeList("diversity") | sort(attribute='start_datetime') %}
                <div class="border-solid border-1 bg-purple-200 rounded-lg p-5 mt-2">
                    <div>
                        <a href="{{ event.url }}">{{ event.name }}</a> {% if event.region %}{{ event.region }}{% endif %} {% if event.new %}<span class="bg-yellow-200 text-xs pl-2 pr-2">New</span>{% endif %}
                    </div>
                    <div>
                        When: {{ event.start_datetime | readableDateTime() }}
                    </div>
                </div>
            {% endfor %}


            <h2>🎫 Conferences</h2>
            <div class="prose">
            {% for conf in thisYearsConfListings.conferences %}
                <div class="border-solid border-1 bg-purple-200 rounded-lg p-5 mt-2">
                    {{ conf.name }}
                </div>
            {% endfor %}
            </div>

        {% else %}
            Listings not found
        {% endif %}
    {% endif %}

    {# Trying out collections #}
    <div>
        <h2>🗄 ARCHIVES</h2>
        <div class="flex flex-row flex-wrap">
            {% for post in collections.event %}
            <div class="border-solid border-1 bg-yellow-200 rounded-lg p-2 mr-4 mt-3 ring-4 ring-yellow-100">
                <a href="{{post.url}}">{{ post.data.title }}</a>
            </div>
            {% endfor %}
        </div>
    </div>


</div>