

<p class="mt-6 text-xl leading-8 text-gray-600">
    💟 This is a community site curated by Vicky Twomey-Lee with contributions from the community.
</p>
<p class="mt-6 text-xl leading-7 text-gray-600">
    ⬇️ You can find out about diversity in tech events and groups as well the end of year tech community table quiz below.
</p>

<div class="w-full max-w-2xl grid grid-cols-1 lg:grid-cols-2 gap-4 my-8 px-4 lg:mx-0">

    {% if quicklinks.links %}

        {% for item in quicklinks.links %}
            <a href="{{item.url}}" target="_blank" class="p-5 border rounded border-gray-200 hover:border-purple-400">
                <h3>{{item.title}}
                    →</h3>
                <p>{{item.desc}}</p>
            </a>
        {% endfor %}

    {% endif %}

</div>