<section class="prose">
    {% if page.fileSlug != "events" %}
        {% set month = page.fileSlug | lower | trim %}
    {% else %}
        {% set month = helpers.currentMonth() | lower | trim %}
    {% endif %}

    {# getting the month and year from the page title #}
    {% set pageMonthYearList = title.split(' ') %}

    {% if events.year %}
        {# Let's get the current year and month, e.g. 2021 Jan #}
        {% set thisMonthListings = null %}
        {% set searching = false %}

        {% for key, val in events.year %}
            {# mmm_yyyy.yaml in _data, splitting it with '_' #}
            {% set key_list = key.split('_') %}
            

            {% if key_list[1] == pageMonthYearList[1] %}
                {% if key_list[0] | lower | trim == month %}
                    {% set thisMonthListings = val  %}
                    {% set searching = true %}

                {% endif %}
            
            {% endif %}






            {# {% if (key_list[0] | lower | trim == month) and (key_list[1] == helpers.currentYear()) and (searching == false)%}
                
                {% set thisMonthListings = val   %}
                {% set searching = true %}
            {% elif (key_list[0] | lower | trim == month) and  (searching == false) %}
                {# Year listings other than the current year #}
                {# {{key_list[1]}} {{key_list[0] | lower}}<br> #}
                {#{% set thisMonthListings = val   %}
                {% set searching = true %}
            {% endif %} #}
        {% endfor %}

        {% if thisMonthListings %}
            {% if page.fileSlug == "events" %}
                <h2 id="general-events">Latest Events this Month ({{ month }})</h2>
            {% else %}
                <h2 id="general-events">{{ month | capitalize }} Event Listings</h2>
            {% endif %}
            {% set listings = thisMonthListings.eventlistings | newItemList('diversity') | sort(attribute='start_datetime') %}
            
            <p> ℹ️ Number of events (excluding conferences): {{ thisMonthListings.eventlistings | length }}</p>

            {% set event_cnt = 0 %}
            {% for event in thisMonthListings.eventlistings  | sort(attribute='start_datetime') %}
                {% if event.type != "diversity" %}
                <div class="border-solid border-1 bg-purple-50 rounded-lg p-5 mt-2">
                    <div>
                        <a href="{{ event.url }}">{{ event.name }}</a> {% if event.region %}<span class="text-xs">{{ event.region }}</span>{% endif %} {% if event.type %}<span class="text-xs bg-green-200 pr-2 pl-2">{{ event.type }}</span>{% endif %} {% if event.new %}<span class="bg-yellow-200 text-xs pl-2 pr-2">New</span>{% endif %}
                    </div>
                    <div>
                        When: {{ event.start_datetime | readableDateTime() }} {% if event.end_datetime %}- {{ event.end_datetime | readableDateTime() }}{% endif %}
                    </div>
                </div>    
                {% set event_cnt = event_cnt + 1 %}            
                {% endif %}
            {% endfor %}
            {% if event_cnt == 0 %}
                <h3>🤔 No tech events, if we are missing something, let us know.</h3> 
            {% endif %}  

            <h2 id="diversity-events">Diversity events this month</h2>
            {% set event_cnt = 0 %}
            {% for event in thisMonthListings.eventlistings  | sort(attribute='start_datetime') %}
                {% if event.type == "diversity" %}
                    <div class="border-solid border-1 bg-purple-200 rounded-lg p-5 mt-2">
                        <div>
                            <a href="{{ event.url }}">{{ event.name }}</a> {% if event.region %}<span class="text-xs">{{ event.region }}</span>{% endif %} {% if event.type %}<span class="text-xs bg-green-200 pr-2 pl-2">{{ event.type }}</span>{% endif %} {% if event.new %}<span class="bg-yellow-200 text-xs pl-2 pr-2">New</span>{% endif %}
                        </div>
                        <div>
                            When: {{ event.start_datetime | readableDateTime() }} - {{ event.end_datetime | readableDateTime() }}
                        </div>
                        {% if event.desc %}
                        <div class="text-xs">
                            {{ event.desc | safe }}
                        </div>
                        {% endif %}
                    </div>    
                    {% set event_cnt = event_cnt + 1 %}          
                {% endif %}
            {% endfor %}
            {% if event_cnt == 0 %}
                <h3>🤔 No diversity events, if we are missing something, let us know.</h3> 
            {% endif %}            
        {% else %}
                <h3>Currently there's no events this month. If we are missing something, let us know.</h3>
        {% endif %}
    {% endif %}
    
    </section>